
.button {
    background-color: white; 
    border:solid;
    color: #71b7b7;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button1 {border-radius: 50%;}
  .bg2{
    padding: 12px;
    text-align: center;
    display: inline-block;
    background-color: #76c7e7a4;
    width: 600px;
    height: 230px;
    margin: 50px;
    line-height: 1.1px auto;
  }
  .color1{color: #9394ab;}
  .size-avt{
    width: 200px;
    height: 200px;
    text-align: center;
  }
  