body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }
  
  .bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("./images/CoverYT.png");
    min-height: 60%;
  }
  
  .menu {
    display: none;
  }