.main{
    display: inline-block;
}

.main-content{
    width: 50%;
    padding: 0 50px;
    text-align:center ;
    display: inline-block;
}

.content{
    text-align: justify;
    float: left;
}

.img  {
    float: left;
    margin: 50px 30px;
}