* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-image: url(../../images/CoverYT.png);
  padding: 20px;
  text-align: center;
  height: 30%;
}

/* Style the top navigation bar */
/*header bar*/
.top-bar{
  position:fixed;
  width:100%;
  z-index:1;
  top:0
}

.row{
  clear:both;
  width: 100%;

}

.nav-bar{
  padding:8px 0;
  color:#fff;
  background-color:#000
}

.nav-col{
  float:left;
  width: 14.28%;
}

.nav-button{
  border:none;
  display:inline-block;
  padding:8px 16px;
  overflow:hidden;
  text-decoration:none;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  width:100%;
  color:#fff!important;
  background-color:#000!important
}



/* Style the footer */

.footer-container{
  width: 100%;
  padding:64px;
  color:#000;
  background-color:#f1f1f1;
  text-align:center;
  font-size:12px;
  display: inline-block;
  font-size: 13px;
}

.justify-display{
  text-align: justify;
}

.three-col{
  float:left;
  width:33%;
}
.input-contact{
  padding:8px;
  display:block;
  border:none;
  border-bottom:1px solid #ccc;
  width:100%;
  border:1px solid #ccc
}
/*tags*/

.tag{
  background-color:#616161;
  color:#fff;
  display:inline-block;
  padding:0 8px;
  text-align:center;
  margin-bottom:16px
}

.highlight-tag{
  background-color: #000;
}
h1{
  color: white;
  font-size: 48px;
}
