.main{
    margin: 20px;
}
.sty-word{
    display: inline-block;
    vertical-align: top;
    margin: 50px;font-family: Arial, Helvetica, sans-serif;
    width:36% ;
}
.blue{
    color: blue;
}
.sty-word-body{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.button {
    background-color: white;
    border: none;
    color: black;
    padding: 8px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
  
.button4:hover {background-color: #e7e7e7;}
  