.col-wrap {
  display: table;
  width: 100%;
}

.col {
  display: table-cell;
  padding: 1rem
}

.col:nth-child(even) {
  background-color: rgba(113, 236, 65, 0.589);
}

.col:nth-child(odd) {
  background-color: rgba(124, 244, 196, 0.838);
}

.wid{
  width: 40%;
  text-align: center;
}
img {
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  }